<h1>Bienvenido a Tennis Scorer</h1>
<img src="tennis_rackets.jpg">

<form name="jugar" action="/jugar" method="post">
  Jugador1: <input name="jugador1" type="text">
  Jugador2: <input name="jugador2" type="text">
  <input type="submit" value="Jugar">

  <%= @historial %>
</form>